.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.navbar {
  width: 20%;
}

.presentation_container {
  width: 80%;
  border: 1px solid #ccd6e3;
  border-radius: 1rem;
  margin: 0;
  box-sizing: border-box;
}


.navbar,
.presentation_container {
  margin: 0;
}